<div style="margin-bottom: 10px;">
    <div class="row text-center font-bold " style="background-color:rgba(173, 216, 230,0.4)">
        <div class="col-md-12">
            <h2>Corona Virus Cases Distribution Worldwide</h2>
        </div>
    </div>
    <div style="display:block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [colors]="pieChartColor"
                [chartType]="pieChartType"></canvas>
    </div>
</div>