<div class='text-center container-fluid' style="margin:25px">
  <div class="row justify-content-md-center">
    <div class ="col-md-auto">
      <img class="align-middle"
          width="40px"
          src="https://firebasestorage.googleapis.com/v0/b/covid19-8fca3.appspot.com/o/covid-icon.png?alt=media&token=b03b3987-08f2-4f73-ab33-6a9f8a78cbbe" 
          alt="corona virus icon"/>
    </div>
    <div class="col-md-auto">
      <h1 class="align-middle">COVID-19</h1>
    </div>
  </div>
  <h3 class="text-muted">Live updates and statistics</h3>
</div>
<router-outlet></router-outlet>
<app-add-news></app-add-news>
<div class="row text-center" style="background-color:rgba(173, 216, 230,0.2); margin: 10px;">
  <div class="col-md-12">
    <p><a href="https://api.covid19api.com/">COVID-19 API / Johns Hopkins CSSE</a></p>
  </div>
</div>