<div style="margin-bottom: 10px;">
    <div class="row text-center font-bold " style="background-color:rgba(173, 216, 230,0.4)">
        <div class="col-md-12">
            <h2>Corona Virus Daily Cases in {{ name }}</h2>
        </div>
    </div>
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColor"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
    </div>
</div>